.perfil_card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 40px 56px;
  background: #120F1A;
  border-radius: 8px;
  border: 2px solid #1C1924;
}
.perfil_card .avatar {
  display: block;
  position: relative;
  min-width: 150px;
  min-height: 150px;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  max-width: 232px;
  max-height: 232px;
  overflow: hidden;
  text-align: center;
}
.perfil_card .avatar img {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.perfil_card .info_user span {
  display: block;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  color: #535059;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.perfil_card .info_user .input_info {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 170px;
  height: 32px;
  margin-bottom: 20px;
}
.perfil_card .info_user .input_info button {
  display: block;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 12px;
  background: transparent;
  border: none;
}
.perfil_card .info_user .input_info button svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
}
.perfil_card .info_user h3 {
  margin: 0;
  line-height: 100%;
  margin-bottom: 20px;
  font-size: 24px;
  color: #AEADB2;
}
.perfil_card .info_user p {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 20px;
}
.perfil_card .info_user p svg {
  margin-right: 12px;
}
.perfil_card .info_user button.btn_edit {
  display: flex;
  align-items: center;
  width: auto;
  position: relative;
  text-align: left;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 500;
  background: transparent;
  border: none;
  color: #AEADB2;
  cursor: pointer;
}
.perfil_card .info_user button.btn_edit svg {
  margin-right: 12px;
}
.perfil_card .info_user button.btn_edit::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  left: 26px;
  bottom: -8px;
  background: #AEADB2;
  transition: 0.4s;
}
.perfil_card .info_user button.btn_edit:hover::after {
  content: "";
  position: absolute;
  display: block;
  left: 26px;
  bottom: -8px;
  width: calc(100% - 26px);
  height: 3px;
  border-radius: 8px;
  background: #AEADB2;
}
.perfil_card .update_avatar_pop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 400px);
  height: 100vh;
  top: 0;
  left: 400px;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5);
          backdrop-filter: blur(5);
}
.perfil_card .update_avatar_pop .select_avatar {
  position: absolute;
  width: 100%;
  max-width: 500px;
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #1C1924;
  border-radius: 8px;
  gap: 16px;
  flex-wrap: wrap;
}
.perfil_card .update_avatar_pop .select_avatar .select_avatar_content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.perfil_card .update_avatar_pop .select_avatar .select_avatar_content input {
  margin-right: 8px;
}
.perfil_card .update_avatar_pop .select_avatar h3 {
  margin: 16px 0;
}
.perfil_card .update_avatar_pop .select_avatar img {
  max-width: 50px;
}
.perfil_card .update_avatar_pop .select_avatar label {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.perfil_card .update_avatar_pop .select_avatar input {
  display: block;
  width: 100%;
  height: 64px;
  border-radius: 8px;
  padding: 32px 22px;
  border: none;
  background: #26232E;
  color: #6E6D73;
  font-size: 16px;
  transition: 0.4s;
}
.perfil_card .update_avatar_pop .select_avatar input::-moz-placeholder {
  color: #6E6D73;
}
.perfil_card .update_avatar_pop .select_avatar input::placeholder {
  color: #6E6D73;
}
.perfil_card .update_avatar_pop .select_avatar input:focus {
  background: #393640;
}
.perfil_card .update_avatar_pop .select_avatar button {
  display: block;
  padding: 0 16px;
  width: 100%;
  height: 64px;
  border-radius: 8px;
  border: none;
  background: #5B29E5;
  color: #D2D1D7;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s;
}
.perfil_card .update_avatar_pop .select_avatar button:hover {
  filter: brightness(1.3);
}
.perfil_card .update_avatar_pop .select_avatar .btn_choose_side {
  background: #535059;
}

h3 {
  margin: 56px 0 24px;
  color: #535059;
}

.no_tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #1C1924;
  background: #120F1A;
  border-radius: 8px;
  padding: 32px;
}
.no_tweet h4 {
  margin-bottom: 16px;
}
.no_tweet p {
  margin-bottom: 32px;
}
.no_tweet a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background: #3E1C98;
  border-radius: 8px;
  color: #D2D1D7;
  transition: 0.2s;
}
.no_tweet a:hover {
  background: #5B29E5;
}

@media screen and (max-width: 1100px) {
  .perfil_card .update_avatar_pop {
    padding: 16px;
    width: 66%;
    left: 33%;
  }
}
@media screen and (max-width: 916px) {
  .perfil_card .update_avatar_pop {
    width: 100vw;
    left: 0;
  }
}
@media screen and (max-width: 630px) {
  .perfil_card {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .perfil_card .avatar {
    margin-bottom: 32px;
  }
  .perfil_card .info_user {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .perfil_card .update_avatar_pop {
    padding: 16px;
    width: 100vw;
    left: 0;
  }
  .perfil_card .update_avatar_pop .select_avatar {
    width: 100%;
    max-width: 300px;
  }
  .perfil_card .update_avatar_pop .select_avatar button {
    font-size: 14px;
  }
}