@keyframes inputError {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
.type_tweet {
  display: flex;
  align-items: center;
  margin-bottom: 72px;
  gap: 40px;
}
.type_tweet a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.type_tweet a img {
  max-width: 80px;
}
.type_tweet .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  min-width: 80px;
  min-height: 80px;
  border-radius: 100%;
  max-width: 80px;
  max-height: 80px;
  overflow: hidden;
  text-align: center;
}
.type_tweet .avatar img {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.type_tweet input {
  display: block;
  width: 100%;
  padding: 16px 0;
  background: transparent;
  color: #AEADB2;
  border: transparent;
  border-bottom: 2px solid #26232E;
  outline: transparent;
  font-size: 16px;
  font-family: "Montserrat";
  transition: 0.2s;
}
.type_tweet input::-moz-placeholder {
  color: #535059;
}
.type_tweet input::placeholder {
  color: #535059;
}
.type_tweet input:focus {
  border-bottom-color: #5B29E5;
}
.type_tweet button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 50px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: #5B29E5;
  transition: 0.4s;
}
.type_tweet button svg {
  position: relative;
  left: -2px;
}
.type_tweet button:hover {
  filter: brightness(1.2);
}
.type_tweet .inputs {
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-areas: "a a a" "b b c";
}
.type_tweet .inputs input:nth-child(1) {
  grid-area: a;
}
.type_tweet .inputs input:nth-child(2) {
  display: block;
  width: 100%;
  max-width: 350px;
  grid-area: b;
}
.type_tweet .inputs button {
  grid-area: c;
}
.type_tweet .inputError {
  border-bottom: 2px solid #FF3535;
  animation: inputError 0.17s ease-in-out;
  animation-iteration-count: 3;
}

.tweets {
  margin-bottom: 32px;
}

hr {
  margin-bottom: 48px;
  border: 1px solid #1C1924;
}