.type_tweet {
  position: relative;
  width: 100%;
  height: auto;
  padding: 24px;
  background: #120F1A;
  border-radius: 8px;
  margin-bottom: 16px;
}
.type_tweet .insert_tweets {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  gap: 24px;
}
.type_tweet .insert_tweets .inputs_tweets {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.type_tweet .insert_tweets .inputs_tweets label:nth-child(2) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 16px;
}
.type_tweet .insert_tweets .inputs_tweets label:nth-child(2) svg {
  margin-right: 12px;
  width: 20px;
}
.type_tweet .insert_tweets .inputs_tweets label:nth-child(2) svg path {
  fill: #26232E;
}
.type_tweet .insert_tweets .inputs_tweets label:nth-child(2) textarea.textarea_tags {
  display: block;
  position: relative;
  width: 100%;
  height: 32px;
  background: transparent;
  border: none;
  line-height: 160%;
  padding: 3px 0 0;
  resize: none;
  outline: transparent;
  color: #AEADB2;
  font-size: 16px;
  font-family: "Montserrat";
  transition: color 0.2s;
}
.type_tweet .insert_tweets .inputs_tweets label:nth-child(2) textarea.textarea_tags.error::-moz-placeholder {
  color: #FF3535;
}
.type_tweet .insert_tweets .inputs_tweets label:nth-child(2) textarea.textarea_tags.error::placeholder {
  color: #FF3535;
}
.type_tweet .insert_tweets .inputs_tweets label:nth-child(2) textarea.textarea_tags::-moz-placeholder {
  color: #5B29E5;
  font-weight: 500;
}
.type_tweet .insert_tweets .inputs_tweets label:nth-child(2) textarea.textarea_tags::placeholder {
  color: #5B29E5;
  font-weight: 500;
}
.type_tweet .insert_tweets .inputs_tweets label:nth-child(2) textarea.textarea_tags::-webkit-scrollbar {
  width: 0;
}
.type_tweet .insert_tweets .inputs_tweets label:nth-child(2) textarea.error {
  color: #FF3535;
}
.type_tweet .insert_tweets .inputs_tweets label:first-child {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  cursor: text;
}
.type_tweet .insert_tweets .inputs_tweets label:first-child textarea.textarea_tweet {
  border: 1px solid red;
  position: relative;
  display: block;
  position: relative;
  padding-top: 12px;
  width: 100%;
  height: 80px;
  background: transparent;
  line-height: 160%;
  outline: none;
  border: transparent;
  resize: none;
  color: #AEADB2;
  font-size: 18px;
  font-family: "Montserrat";
}
.type_tweet .insert_tweets .inputs_tweets label:first-child textarea.textarea_tweet::-webkit-scrollbar {
  width: 0;
}
.type_tweet .insert_tweets .inputs_tweets label:first-child textarea.error::-moz-placeholder {
  color: #FF3535;
}
.type_tweet .insert_tweets .inputs_tweets label:first-child textarea.error::placeholder {
  color: #FF3535;
}
.type_tweet .insert_tweets .inputs_tweets span {
  margin-top: 8px;
  text-align: right;
  color: #393640;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
}
.type_tweet .insert_tweets .inputs_tweets span span {
  color: #6E6D73;
  transition: 0.2s;
}
.type_tweet .insert_tweets .inputs_tweets hr {
  display: inline-block;
  border: 1px solid #1C1924;
  margin: 16px 0;
  width: 100%;
}
.type_tweet .insert_tweets .avatar_tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
}
.type_tweet .insert_tweets .avatar_tweet img {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.type_tweet .submit_tweet {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.type_tweet .submit_tweet button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background: #5B29E5;
  transition: 0.4s;
}
.type_tweet .submit_tweet button svg {
  position: relative;
  left: -2px;
}
.type_tweet .submit_tweet button:hover {
  filter: brightness(1.2);
}
.type_tweet .submit_tweet button.button_error {
  background: #FF3535;
}
.type_tweet .submit_tweet button.button_error svg path {
  fill: #1C1924;
}

.insert_erro {
  display: block;
  text-align: center;
  width: 100%;
  color: #FF3535;
  font-weight: 600;
}