@import "../../css/colors";

.tweet{
    position: relative;
    height: auto;
    width: 100%;
    position: relative;
    padding: 32px;
    background: $gray2;
    border-radius: 8px;
    margin-bottom: 24px;
    .header{
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        span{
            margin-left: 32px;
            h4, p{
                margin: 0;
            }
            p{
                color: $gray7;
            }
        }
    }

    textarea{
        position: relative;
        display: block;
        word-wrap: break-word;
        margin-left: 82px;
        width: calc(100% - 82px);
        background-color: transparent;
        border: none;
        outline: none;
        resize: none;

        font-family: "Montserrat";
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: $gray8;

        &::selection{
            user-select: none;
        }
        &::-webkit-scrollbar{
            width: 0;
        }
    }
    .see_more{
        display: inline-block;
        position: relative;
        margin: 8px 82px 0;
        
        color: $purple-light;
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 600;
        text-decoration: underline;
        
        transition: .2s;
        cursor: pointer;
        &:hover{
            filter: brightness(1.3);
        }
    }

    .avatar{
        display: block;
        position: relative;
        min-width: 50px;
        min-height: 50px;
        border-radius: 100%;
        max-width: 50px;
        max-height: 50px;

        // border: 1px solid red;
        overflow: hidden;
        
        text-align: center;

        img{
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
    }

    &:last-child{
        margin-bottom: 0;
    }

    .hash_button{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 32px 82px 0;
        width: 150px;
        
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: $gray7;

        cursor: pointer;
        transition: .4s;

        &:hover{
            filter: brightness(1.3);
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 16px;
            padding: 8px;
            background: $gray4;
            border-radius: 8px;
            border: none;
        }
    }

    .hash_container{
        position: absolute;
        display: flex;
        flex-wrap: wrap;

        left: 114px;
        margin-top: 20px;
        width: calc(auto - 16px);
        max-width: 300px;
        height: auto;
        padding: 16px;
        background: #26232e77;
        backdrop-filter: blur(5px);
        border: 2px solid $gray4;
        border-radius: 8px;

        word-break: break-all;

        pointer-events: none;
        z-index: 2;
        transition: .2s;
    
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
    
        li{
            list-style: none;
            display: block;
            margin-right: 8px;
        }
    }
}

@media screen and (max-width: 500px) {
    .tweet{
        padding: 32px 16px;
        .header span{
            margin-left: 16px;
        }
        p{
            margin-left: 66px;
            font-size: 14px;
        }

        .hash_button{
            margin-left: 66px;
        }

        .hash_container{
            left: 82px;
        }
    }
}