.tweet {
  padding: 32px;
  background: #120F1A;
  border-radius: 8px;
  margin-bottom: 24px;
}
.tweet .header {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.tweet .header span {
  margin-left: 32px;
}
.tweet .header span h4, .tweet .header span p {
  margin: 0;
}
.tweet .header span p {
  color: #6E6D73;
}
.tweet p {
  word-wrap: break-word;
  margin-left: 82px;
}
.tweet img {
  max-width: 50px;
}
.tweet:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {
  .tweet {
    padding: 32px 16px;
  }
  .tweet .header span {
    margin-left: 16px;
  }
  .tweet p {
    margin-left: 66px;
    font-size: 14px;
  }
}