// BRANDING

$purple: #3E1C98;
$purple-dark: #291266;
$purple-light: #5B29E5;

// GRAY SCALE

$gray1: #0A0810;
$gray2: #120F1A;
$gray3: #1C1924;
$gray4: #26232E;
$gray5: #393640;
$gray6: #535059;
$gray7: #6E6D73;
$gray8: #969499;
$gray9: #AEADB2;
$white: #D2D1D7;

// COMPLEMENTAR

$green: #3CBE39;
$yellow: #FFD541;
$red: #FF3535;

// BOX SHADOW

$purple-shadow: 0px 43px 123px rgba(62, 28, 152, 0.3), 0px 17.4259px 52.5406px rgba(62, 28, 152, 0.207758), 0px 10.0561px 27.4148px rgba(62, 28, 152, 0.17816), 0px 5.80917px 13.3264px rgba(62, 28, 152, 0.151691), 0px 2.71556px 4.88718px rgba(62, 28, 152, 0.0977559);
$black-shadow: 0px 67px 174px rgba(6, 5, 11, 0.21), 0px 38.0446px 72.693px rgba(6, 5, 11, 0.159087), 0px 29.6255px 38.8652px rgba(6, 5, 11, 0.141352), 0px 24.5041px 21.7875px rgba(6, 5, 11, 0.123617), 0px 18.9157px 11.5712px rgba(6, 5, 11, 0.0986536), 0px 11.1205px 4.81503px rgba(6, 5, 11, 0.060401);
$perspective-shadow: 0px 100px 77px rgba(62, 28, 152, 0.13), 0px 41.7776px 32.1688px rgba(62, 28, 152, 0.0841719), 0px 22.3363px 17.199px rgba(62, 28, 152, 0.0712833), 0px 12.5216px 9.64159px rgba(62, 28, 152, 0.0640669), 0px 6.6501px 5.12058px rgba(62, 28, 152, 0.0563066), 0px 2.76726px 2.13079px rgba(62, 28, 152, 0.0418735);

// box-shadow: 0 15px 50px #3d1c9880;

// GRADIENTS

$gradient-horizontal: linear-gradient(90deg, #5B29E5 0%, #291266 133%);;