@import "./colors.scss";
@import "./fonts.scss";

@keyframes loading {
    100%{
        transform: rotateZ(360deg);
    }
}

@keyframes pageLoad {
    to{
        opacity: 1;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background: $gray1;
    color: $white;
}

#App{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

input{
    font-family: "Montserrat";
    font-weight: 500;
}

.display-none{
    display: none;
}

.loadCircle{
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 5px solid $gray8;
    border-top-color: $purple-light;
    animation: loading 1s linear infinite ;
}

.btn-loading{
    background: $gray5;
}

button{
    cursor: pointer;
}

.main_container{
    width: calc(100% - 400px);
    margin-left: 400px;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    animation: pageLoad 1s ease forwards;
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    /* Thumb */
    &::-webkit-scrollbar-thumb {
        background: $purple-light;
        border-radius: 8px;
    }
    .main_container_inbox{
        max-width: 650px;
        width: 100%;
        height: auto;
        padding: 80px 32px;

        .load_tweets{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 32px;
        }
    }
}

.btn_menu{
    display: none;
}


.show{
    opacity: 1;
}
.hidden{
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 1100px) {
    .main_container{
        width: 66vw;
        margin-left: 33vw;
    }

}

@media screen and (max-width: 916px) {
    .main_container{
        width: 100vw;
        margin-left: 0;

        .main_container_inbox{
            padding: 80px 14px;
        }
    }
    
    .btn_menu{
        display: block;
    }
}