@keyframes loadMenu {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loadMenuItems {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.nav_container {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #120F1A;
  animation: loadMenu 0.5s normal forwards;
  transition: width 0.4s;
  z-index: 3;
}
.nav_container .thumbnail {
  display: block;
  position: relative;
  height: 180px;
  width: 100%;
  background: #3E1C98;
  margin-bottom: 72px;
}
.nav_container ul {
  padding: 0;
  list-style: none;
  width: 100%;
}
.nav_container ul li {
  display: block;
  width: 100%;
  opacity: 0;
}
.nav_container ul li:nth-child(1) {
  animation: loadMenuItems 0.5s normal 0.5s forwards;
}
.nav_container ul li:nth-child(2) {
  animation: loadMenuItems 0.5s normal 0.6s forwards;
}
.nav_container ul li:nth-child(3) {
  animation: loadMenuItems 0.5s normal 0.7s forwards;
}
.nav_container ul li:nth-child(4) {
  animation: loadMenuItems 0.5s normal 0.8s forwards;
}
.nav_container ul li a {
  display: flex;
  padding: 16px 32px;
  width: 100%;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
  font-size: 24px;
  color: #969499;
  transition: 0.2s;
}
.nav_container ul li a span {
  transition: 0.2s;
}
.nav_container ul li a svg {
  transition: 0.2s;
}
.nav_container ul li a svg path {
  transition: 0.2s;
}
.nav_container ul li a:hover {
  background: #1C1924;
}
.nav_container ul li a:hover span {
  transform: translateX(12px);
  transition-delay: 0.1s;
}
.nav_container ul li a:hover svg {
  transform: translateX(8px);
}
.nav_container ul li a:hover svg path {
  fill: #5B29E5;
}
.nav_container ul li a.active {
  background: #1C1924;
}
.nav_container ul li a.active span {
  transform: translateX(12px);
  transition-delay: 0.1s;
}
.nav_container ul li a.active svg {
  transform: translateX(8px);
}
.nav_container ul li a.active svg path {
  fill: #5B29E5;
}
.nav_container ul li button {
  display: flex;
  padding: 16px 32px;
  width: 100%;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
  font-size: 24px;
  color: #969499;
  transition: 0.2s;
  font-family: "NeoMedium";
  font-weight: 400;
  line-height: 160%;
}
.nav_container ul li button span {
  transition: transform 0.2s;
}
.nav_container ul li button svg {
  transition: 0.2s;
}
.nav_container ul li button svg path {
  transition: 0.2s;
}
.nav_container ul li button:hover {
  background: #FF3535;
  color: #0A0810;
}
.nav_container ul li button:hover svg path {
  fill: #0A0810;
}
.nav_container ul li button:hover span {
  transform: translateX(12px);
  transition-delay: 0.1s;
}
.nav_container ul li button:hover svg {
  transform: translateX(8px);
}
.nav_container .svg_footer {
  width: 120px;
  position: absolute;
  bottom: 40px;
}

.logout_dialog_box_container {
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.123);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: 0.2s;
}
.logout_dialog_box_container .logout_dialog_box {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 3s;
  width: 100%;
  text-align: center;
  max-width: 350px;
  padding: 24px;
  background: #1C1924;
  border-radius: 8px;
}
.logout_dialog_box_container .logout_dialog_box h4 {
  margin-bottom: 32px;
}
.logout_dialog_box_container .logout_dialog_box .btn_dialog {
  padding: 16px 24px;
  margin: 0 4px;
  border: transparent;
  border-radius: 8px;
  font-size: 16px;
  text-transform: uppercase;
  background: #535059;
  color: #AEADB2;
  font-family: "Montserrat";
  font-weight: 600;
  transition: 0.2s;
}
.logout_dialog_box_container .logout_dialog_box .btn_dialog:hover {
  background: #FF3535;
  color: #0A0810;
}
.logout_dialog_box_container .logout_dialog_box .btn_dialog:last-child {
  background: #3E1C98;
}
.logout_dialog_box_container .logout_dialog_box .btn_dialog:last-child:hover {
  filter: brightness(1.2);
  color: #AEADB2;
}

.show {
  opacity: 1;
  pointer-events: all;
  transition: 0.2s;
}
.show .logout_dialog_box {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.2s;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}
.hide .logout_dialog_box {
  transition: 0.2s;
  transform: scale(0.8);
  opacity: 0;
}

.btn_close_menu {
  display: none;
}

@media screen and (max-width: 1100px) {
  .nav_container {
    max-width: 33vw;
    min-width: 300px;
    width: 100%;
  }
}
@media screen and (max-width: 916px) {
  .nav_container {
    max-width: 300px;
    width: 100%;
    animation: none;
    transition: 0.5s;
  }
  .nav_container ul li a, .nav_container ul li button {
    font-size: 18px;
  }
  .nav_container ul li svg {
    height: 18px;
  }
  .close {
    transform: translateX(-300px);
  }
  .close::before {
    content: "";
    display: block;
    position: absolute;
    height: 100vh;
    width: calc(100vw - 300px);
    left: 300px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;
    z-index: -4;
    transition-delay: opacity 1s;
  }
  .open {
    transform: translateX(0);
  }
  .open::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100vw - 300px);
    height: 100vh;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    left: 300px;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
    transition: 1s;
    pointer-events: all;
    z-index: -6;
  }
  .btn_menu {
    display: block;
    width: 56px;
    height: 56px;
    background: #393640;
    border: none;
    border-radius: 8px;
    padding: 12px;
  }
  .btn_open_menu {
    position: fixed;
    left: 32px;
    top: 32px;
    z-index: 2;
    background: #120F1A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  .btn_close_menu {
    position: absolute;
    left: 32px;
    top: 24px;
    background: #120F1A;
    z-index: 1;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
}