@import "../../css/colors.scss";

@keyframes loadMenu {
    from{
        transform: translateX(-400px);
    }to{
        transform: translateX(0);

    }
}

@keyframes loadMenuItems {
    from{
        transform: translateX(-100px);
    }to{
        transform: translateX(0);
        opacity: 1;
    }
}

.nav_container{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: $gray2;
    animation: loadMenu .5s normal forwards;
    transition: width .4s;
    z-index: 3;
    .thumbnail{
        display: block;
        position: relative;
        height: 180px;
        width: 100%;
        background: $purple;
        margin-bottom: 72px;
    }
    ul{
        padding: 0;
        list-style: none;
        width: 100%;

        li{
            display: block;
            width: 100%;
            opacity: 0;
            &:nth-child(1){
                animation: loadMenuItems .5s normal .5s forwards;
            }
            &:nth-child(2){
                animation: loadMenuItems .5s normal .6s forwards;
            }
            &:nth-child(3){
                animation: loadMenuItems .5s normal .7s forwards;
            }
            &:nth-child(4){
                animation: loadMenuItems .5s normal .8s forwards;
            }
            a{
                display: flex;
                padding: 16px 32px;
                width: 100%;
                margin: 0;
                justify-content: flex-start;
                align-items: center;
                gap: 28px;
                font-size: 24px;
                color: $gray8;
                transition: .2s;

                span{
                    transition: .2s;
                }
                svg{
                    transition: .2s;
                    path{
                        transition: .2s;
                    }   
                }
                &:hover{
                    background: $gray3;

                    span{
                        transform: translateX(12px);
                        transition-delay: .1s;
                    }

                    svg{
                        transform: translateX(8px);
                    }
                }
                &:hover svg path{
                    fill: $purple-light;
                }
            }

            a.active{
                background: $gray3;
                    span{
                        transform: translateX(12px);
                        transition-delay: .1s;
                    }
                    svg{
                        transform: translateX(8px);
                        path{
                            fill: $purple-light;
                        }
                    }
            }
            button{
                display: flex;
                padding: 16px 32px;
                width: 100%;
                margin: 0;
                background: transparent;
                border: none;
                cursor: pointer;
                justify-content: flex-start;
                align-items: center;
                gap: 28px;
                font-size: 24px;
                color: $gray8;
                transition: .2s;

                font-family: "NeoMedium";
                font-weight: 400;
                line-height: 160%;

                span{
                    transition: transform .2s;
                }
                svg{
                    transition: .2s;
                    path{
                        transition: .2s;
                    }   
                }

                &:hover{
                    background: $red;
                    color: $gray1;

                    svg path{
                        fill: $gray1;
                    }
                    span{
                        transform: translateX(12px);
                        transition-delay: .1s;
                    }

                    svg{
                        transform: translateX(8px);
                    }
                }
            }
        }
    }

    .svg_footer{
        width: 120px;
        position: absolute;
        bottom: 40px;
    }
}


// LOGOUT DIALOG BOX
.logout_dialog_box_container{
    opacity: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.123);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: .2s;
    .logout_dialog_box{
        opacity: 0;
        transition: .5s;
        transition-delay: 3s;
        width: 100%;
        text-align: center;
        max-width: 350px;
        padding: 24px;
        background: $gray3;
        border-radius: 8px;
        h4{
            margin-bottom: 32px;
        }

        .btn_dialog{
            padding: 16px 24px;
            margin: 0 4px;
            border: transparent;
            border-radius: 8px;
            font-size: 16px;
            text-transform: uppercase;
            background: $gray6;
            color: $gray9;
            font-family: "Montserrat";
            font-weight: 600;
            transition: .2s;
            &:hover{
                background: $red;
                color: $gray1;
            }
            &:last-child{
                background: $purple;

                &:hover{
                    filter: brightness(1.2);
                    color: $gray9;
                }
            }
        }
    }
}

.show{
    opacity: 1;
    pointer-events: all;
    transition: .2s;
    .logout_dialog_box{
        transform: scale(1);
        opacity: 1;
        transition-delay: .2s;
    }
}
.hide{
    opacity: 0;
    pointer-events: none;
    transition: .2s;
    .logout_dialog_box{
        transition: .2s;
        transform: scale(.8);
        opacity: 0;
    }
}

@media screen and (max-width: 1100px) {
    .nav_container{
        max-width: 33vw;
        min-width: 300px;
        width: 100%;
    }
}
@media screen and (max-width: 916px) {
    .nav_container{
        max-width: 300px;
        width: 100%;
        animation: none;
        transition: .5s;
        ul li a, ul li button{
            font-size: 18px;
        }

        ul li svg{
            height: 18px;
        }
    }

    .close{
        transform: translateX(-300px);
        &::before{
            content: "";
            display: block;
            position: absolute;
            height: 100vh;
            width: calc(100vw - 300px);
            left: 300px;
            backdrop-filter: blur(2px);
            top: 0;
            background: rgba(0, 0, 0, 0.2);
            opacity: 0;
            transition: .2s;
            pointer-events: none;
            z-index: -4;
            transition-delay: opacity 1s;
        }
    }

    .open{
        transform: translateX(0);

        &::before{
            content: "";
            display: block;
            position: absolute;
            width: calc(100vw - 300px);
            height: 100vh;
            backdrop-filter: blur(2px);
            left: 300px;
            top: 0;
            background: rgba(0, 0, 0, 0.4);
            opacity: 1;
            transition: 1s;
            pointer-events: all;
            z-index: -6;
        }
    }

    .btn_menu{
        display: block;
        width: 56px;
        height: 56px;
        background: $gray5;
        border: none;
        border-radius: 8px;
        padding: 12px;    
    }
    .btn_open_menu{
        position: fixed;
        left: 32px;
        top: 32px;
        z-index: 2;
        background: $gray2;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        span{
            display: block;
            width: 100%;
            height: 4px;
            background: $purple-light;
            border-radius: 8px;
        }
    }

    .btn_close_menu{
        position: absolute;
        left: 32px;
        top: 24px;
        background: $gray2;
        z-index: 1;
        border-radius: 100%;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

        span{
            background: $gray8;
            display: block;
            width:  18px;
            height: 3px;
            border-radius: 8px;
            position: relative;
            &:first-child{
                transform: rotateZ(45deg);
                top: 4.5px;
            }
            &:last-child{
                transform: rotateZ(-45deg);
                top: -4.5px;
            }
        }
    }
    
}